html, body {
    height: 100%;
    width: 100%;
    /* background: red; */
  }
  .yellow{
    background-color: yellow;
    color: white;
  }

 .orang {
  background-color: orange;
 }
  
  .red{
    background-color: red;
    color: white;
  }
  
  .text-dark{
    color: black;
  }
  /* html, body {
    height: 100%;
    width: 100%;
  } */